@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .v-scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 40px;
  }
  .h-scrollbar::-webkit-scrollbar {
    width: 40px;
    height: 7px;
  }

  .v-scrollbar::-webkit-scrollbar-track,
  .h-scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: rgb(55, 65, 81, 0.2);
  }

  .v-scrollbar::-webkit-scrollbar-thumb,
  .h-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(59, 130, 246,0.7);
    border-radius: 100vh;
    /* border: 2px solid rgb(59, 130, 246, 0.6); */
  }

  .v-scrollbar::-webkit-scrollbar-thumb:hover,
  .h-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(59, 130, 246, 1); /* rgb(29, 78, 216, 1); */
  }
}
