@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply focus:outline-none focus-visible:outline-none;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: rgb(55, 65, 81, 0.2);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgb(59, 130, 246, 0.7);
    border-radius: 100vh;
    /* border: 2px solid rgb(59, 130, 246, 0.6); */
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(59, 130, 246, 1); /* rgb(29, 78, 216, 1); */
  }
}
